ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0; }

li {
  display: inline-block; }
  li:not(:last-of-type) {
    margin-right: 1rem; }

.board {
  box-sizing: content-box;
  width: 100%;
  border: 2px solid #333; }
  .board .row {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .board .row:nth-of-type(3n) {
    border-bottom: 2px solid #333; }
  .board .row:last-of-type {
    border-bottom: none; }
  .board .cell {
    display: inline-block;
    width: 11.11111%;
    text-align: center;
    border: 1px solid #333;
    transition: background-color 0.2s ease-in-out; }
  .board .cell:nth-of-type(3n) {
    border-right: 3px solid #333; }
  .board .cell:last-of-type {
    border-right-width: 1px; }
  .board .cell--invalid {
    background: #e74c3c; }
  .board .cell--input {
    font: inherit;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 3rem;
    background: transparent;
    font-size: 2rem; }
    .board .cell--input[disabled] {
      opacity: 0.75; }
    @media screen and (max-width: 32rem) {
      .board .cell--input {
        max-width: 2rem;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem; } }

/*# sourceMappingURL=board.css.map */
