$cell_width: 3rem
$cell_width_small: 2rem
$sub_board_border: 2px solid #333
$sub_board_border_xtra: 3px solid #333
$cell_border: 1px solid #333

$board_width: 9 * $cell_width

ul
  list-style-type: none
  padding: .5rem
  margin: 0
li
  display: inline-block
  &:not(:last-of-type)
    margin-right: 1rem

.board
  box-sizing: content-box
  width: 100%
  border: $sub_board_border
  .row
    list-style-type: none
    margin: 0
    padding: 0
  .row:nth-of-type(3n)
    border-bottom: $sub_board_border
  .row:last-of-type
    border-bottom: none

  .cell
    display: inline-block
    width: 11.1111111111%
    text-align: center
    border: $cell_border
    transition: background-color .2s ease-in-out
  .cell:nth-of-type(3n)
    border-right: $sub_board_border_xtra
  .cell:last-of-type
    border-right-width: 1px
  .cell--invalid
    background: #e74c3c

  .cell--input
    font: inherit
    border: none
    padding: 0
    margin: 0
    text-align: center
    width: 100%
    height: $cell_width
    background: transparent
    font-size: 2rem
    &[disabled]
      opacity: .75
    @media screen and ( max-width: 32rem )
      max-width: $cell_width_small
      height: $cell_width_small
      width: $cell_width_small
      font-size: 1.5rem
