table.board {
  width: 75%; }
  table.board tr:first-child {
    border-top: solid; }
  table.board tr:nth-child(3n) td {
    border-bottom: solid; }
  table.board td {
    width: 5%;
    position: relative;
    border: 1px solid; }
    table.board td:after {
      content: '';
      display: block;
      margin-top: 100%; }
    table.board td:first-child {
      border-left: solid; }
    table.board td:nth-child(3n) {
      border-right: solid; }
    table.board td .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center; }
    table.board td .table {
      display: table;
      height: 100%;
      width: 100%; }
    table.board td .table-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      width: 100%; }
    table.board td .highlight {
      background-color: #f2f2f2; }
    table.board td .stuck {
      font-weight: bolder; }

/*# sourceMappingURL=style.css.map */
