table.board {
	width: 75%;

	tr {
		&:first-child {
			border-top: solid;
		}

		&:nth-child(3n) td {
			border-bottom: solid;
		}
	}

	td {
		width: 5%;
		position: relative;
		border: 1px solid;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}

		&:first-child {
			border-left: solid;
		}

		&:nth-child(3n) {
			border-right: solid;
		}

		.content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
		}

		.table {
			display: table;
			height: 100%;
			width: 100%;
		}

		.table-cell {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			width: 100%;
		}

		.highlight {
			background-color: darken(white, 5%);
		}

		.stuck {
			font-weight: bolder;
		}
	}
}
