<!DOCTYPE html>
<html lang="en" ng-app="sudoku-gaApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SudokuGA</title>
		<link rel="stylesheet" href="lib/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="node_modules/angular-chart.js/dist/angular-chart.css">
		<link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container" ng-controller="mainCtrl">
			<h1>Genetic Sudoku Solver</h1>
			<div class="row">
				<div class="col-md-6">
					<table class="board">
						<tr ng-repeat="row in board">
							<td ng-repeat="cell in row">
								<div class="content" ng-class="{highlight: highlight($parent.$index, $index), stuck: {{cell.stuck}}}">
									<div class="table">
										<div class="table-cell">
											{{cell.value}}
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
					<hr/>
					<form>
						<div class="form-group">
							<button class="btn btn-primary" ng-click="solve()" ng-disabled="!isFinished" type="submit">Solve</button>
							<button class="btn btn-warning" ng-click="test()" ng-disabled="!isFinished">Test</button>
							<button class="btn btn-default" ng-click="new()" ng-disabled="!isFinished">New</button>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading"><strong>Options</strong></div>
							<div class="panel-body">
								<div class="form-group">
									<div class="input-group">
										<input type="number" class="form-control" ng-model="popSize" min="0">
										<span class="input-group-addon">Size</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="number" class="form-control" ng-model="crossover" min="0" max="1" step="any">
										<span class="input-group-addon">Crossover</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="number" class="form-control" ng-model="mutation" min="0" max="1" step="any">
										<span class="input-group-addon">Mutation</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="number" class="form-control" ng-model="iterations" min="0">
										<span class="input-group-addon">Iterations</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="number" class="form-control" ng-model="skip" min="0">
										<span class="input-group-addon">Skip</span>
									</div>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="fittestAlwaysSurvives"> Fittest Always Survives
									</label>
								</div>
								<div class="form-group">
									<div class="input-group">
										<select class="form-control" ng-model="select1">
											<option>Tournament2</option>
											<option>Tournament3</option>
											<option>Fittest</option>
											<option>Random</option>
											<option>RandomLinearRank</option>
											<option>Sequential</option>
										</select>
										<span class="input-group-addon">Select1</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<select class="form-control" ng-model="select2">
											<option>Tournament2</option>
											<option>Tournament3</option>
											<option>Random</option>
											<option>RandomLinearRank</option>
											<option>Sequential</option>
											<option>FittestRandom</option>
										</select>
										<span class="input-group-addon">Select2</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<select class="form-control" ng-model="crossoverAlgorithm">
											<option>Uniform</option>
											<option>MultiPoint</option>
										</select>
										<span class="input-group-addon">CrossoverAlgorithm</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading"><strong>Stats</strong></div>
						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item"><strong>Generation:</strong> {{generation}}</li>
								<li class="list-group-item"><strong>Global Maximum:</strong> {{globalMax}}</li>
								<li class="list-group-item"><strong>Maximum:</strong> {{stats.maximum}}</li>
								<li class="list-group-item"><strong>Minimum:</strong> {{stats.minimum}}</li>
								<li class="list-group-item"><strong>Mean:</strong> {{stats.mean}}</li>
								<li class="list-group-item"><strong>Std. Deviation:</strong> {{stats.stdev}}</li>
								<li class="list-group-item">
									<strong>Chart:</strong>
									<canvas class="chart chart-line" chart-options="{datasetFill: false}" chart-data="data"
										chart-labels="labels" chart-legend="true" chart-series="series">
									</canvas>
								</li>
								<li class="list-group-item">
									<strong>Output:</strong>
									<textarea class="form-control" ng-model="output" rows="10"></textarea>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="lib/js/jquery-1.12.0.min.js"></script>
		<script src="lib/js/bootstrap.min.js"></script>
		<script src="lib/js/angular.min.js"></script>
		<script src="node_modules/angular-chart.js/node_modules/chart.js/Chart.js"></script>
		<script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>
		<script src="node_modules/genetic-js/lib/genetic.js"></script>
		<script src="lib/js/sudoku.js"></script>
		<script src="js/sudoku-ga.js"></script>
	</body>
</html>
